@media screen and (max-width: 1125px){
	.about-img{
		justify-content: center;
	}
	.about__item{
		width: 300px;
		height: auto;
		margin-left: 30px;
	}

	.about__img img{
		width: 300px;
		height: auto;
	}


	.about__text{
	width: 100%;
	text-align:center;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	opacity: 0;
	position: absolute;
	top:46%;
	left: -4%;
	z-index: 2;
	transform: translate3d(0 -50% 0);
	transition: opacity .2s linear;

	}

	.about__users{
	position: absolute;
	top:35%;
	left: 40%;
	transform: translate3d(0 -50% 0);
	opacity: 0;
	transition: 0.2s;
	
	}

	.product__inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.product__item{
		margin: 0 auto;
	}

	.product__tab{
		width: 600px;
		margin: 0 auto;
	}

	.product__info {
		width: 630px;
		margin: 0 auto;
	}

	.product__photo{
		width: 450px;
		height: auto;
	}

}

